.spinner {
    display: none;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.1); 
    color:black;
    border-top: 4px solid black; 
    border-radius: 50%;
    animation: spin 1s linear infinite; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.country-card {
    background:white;
    padding: 10px;
}

.border-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.error {
    color:red;/* error color */
    font-family: 'Courier New', Courier, monospace;
}

.hidden {
    display: none;
}



